.head_line{
    border-bottom: 6px solid #E37C41;
    width: 10%;
    margin: 0 auto;
}
.page-header1{
padding-bottom: 9px;
margin: 40px 0 20px;
}
.divPadding{
    padding: 1% 0;
}
.margin-col{
    margin-left:6%;
}

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
}

footer {
    background-color: #eee;
    margin: 10px auto;

}
footer h2 {
    font-size: 1.5em;
    font-weight: bold;
}
footer > div,
footer > .divider {
    display: inline-block;
    /*vertical-align: middle;*/
}
footer > div {
    padding: 1%;
    text-align: center;
    width:30%;
}

footer > .divider {
    font-style: normal;
    height: 240px;
    border: 1px solid #888;
    -webkit-box-shadow: 1px 2px 1px #ccc;
    box-shadow: 1px 2px 1px #ccc;
}

/*@import url(http://fonts.googleapis.com/css?family=Francois+One);*/
/*body {*/
    /*font-family: 'Francois One', sans-serif;*/
    /*font-size: 2em;*/
/*}*/

/*p {*/
    /*text-align: center;*/
/*}*/

p a {
    color: #e84b82;
    display: inline-block;
    text-decoration: none;
    overflow: hidden;
    vertical-align: top;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    -ms-perspective: 600px;
    perspective: 600px;
    -webkit-perspective-origin: 50% 50%;
    -moz-perspective-origin: 50% 50%;
    -ms-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
}
p a:hover span {
    background: #7be8df;
    -webkit-transform: translate3d(0px, 0px, -30px) rotateX(90deg);
    -moz-transform: translate3d(0px, 0px, -30px) rotateX(90deg);
    -ms-transform: translate3d(0px, 0px, -30px) rotateX(90deg);
    transform: translate3d(0px, 0px, -30px) rotateX(90deg);
}
p a span {
    display: block;
    position: relative;
    padding: 2px 3px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
p a span:after {
    content: attr(data-title);
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    padding: 2px 3px;
    color: #fff;
    background: #037172;
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transform: translate3d(0px, 105%, 0px) rotateX(-90deg);
    -moz-transform: translate3d(0px, 105%, 0px) rotateX(-90deg);
    -ms-transform: translate3d(0px, 105%, 0px) rotateX(-90deg);
    transform: translate3d(0px, 105%, 0px) rotateX(-90deg);
}

.jssora02l, .jssora02r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 55px;
    height: 55px;
    cursor: pointer;
    /*background: url('img/2.png') no-repeat;*/
    overflow: hidden;
}
.jssora02l { background-position: -3px -33px; }
.jssora02r { background-position: -63px -33px; }
.jssora02l:hover { background-position: -123px -33px; }
.jssora02r:hover { background-position: -183px -33px; }
.jssora02l.jssora02ldn { background-position: -3px -33px; }
.jssora02r.jssora02rdn { background-position: -63px -33px; }
.jssora02l.jssora02lds { background-position: -3px -33px; opacity: .3; pointer-events: none; }
.jssora02r.jssora02rds { background-position: -63px -33px; opacity: .3; pointer-events: none; }
/* jssor slider thumbnail navigator skin 11 css *//*.jssort11 .p            (normal).jssort11 .p:hover      (normal mouseover).jssort11 .pav          (active).jssort11 .pav:hover    (active mouseover).jssort11 .pdn          (mousedown)*/.jssort11 .p {    position: absolute;    top: 0;    left: 0;    width: 200px;    height: 69px;    background: #01485a;}  .jssort11 .tp {    position: absolute;    top: 0;    left: 0;    width: 100%;    height: 100%;    border: none;}  .jssort11 .i, .jssort11 .pav:hover .i {    position: absolute;    top: 3px;    left: 3px;    width: 60px;    height: 30px;    /*border: white 0px dashed;*/}  * html .jssort11 .i {    width /**/: 62px;    height /**/: 32px;}  .jssort11 .pav .i {    border: white 1px solid;}  .jssort11 .t, .jssort11 .pav:hover .t {    position: absolute;    top: 3px;    left: 68px;    width: 129px;    height: 32px;    line-height: 32px;    text-align: center;    color: #ffffff;    font-size: 13px;    font-weight: 700;}  .jssort11 .pav .t, .jssort11 .p:hover .t {    color: #fff;}  .jssort11 .c, .jssort11 .pav:hover .c {    position: absolute;    top: 38px;    left: 3px;    width: 194px;    height: 32px;    line-height: 32px;    color: #fff;    font-size: 11px;    font-weight: 400;    overflow: hidden;}  .jssort11 .pav .c, .jssort11 .p:hover .c {    color: #fff;}  .jssort11 .t, .jssort11 .c {    transition: color 2s;    -moz-transition: color 2s;    -webkit-transition: color 2s;    -o-transition: color 2s;}  .jssort11 .p:hover .t, .jssort11 .pav:hover .t, .jssort11 .p:hover .c, .jssort11 .pav:hover .c {    transition: none;    -moz-transition: none;    -webkit-transition: none;    -o-transition: none;}  .jssort11 .p:hover, .jssort11 .pav:hover {    background: #333;}  .jssort11 .pav, .jssort11 .p.pdn {    background: #243f47;}
